In [1]:
#Preprocess nolabel tweets and save them to a 'tweet_no_label_afterpreprocess.csv'
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [19]:
tweet_original = pd.read_csv('tweets-no-labels.csv')

In [8]:
tweet_nolabel = pd.read_csv('tweets-no-labels.csv')

In [9]:
tweet_nolabel = tweet_nolabel[['text','query']]

In [10]:
tweet_nolabel.head()

                                                text    query
0  @Timcast @joerogan Isn’t the goal to beat the ...     #jnj
1  @EMA_News Frustrating @EMA_News #JnJ ships vac...     #jnj
2  @AlexandrosAndre @YorkTeachingNHS @Ethicon @ab...  ethicon
3  Jack and Jennifer had me rolling today. I have...     #jnj
4  @xotonironixo They will always be #JnJ to me a...     #jnj

In [11]:
tweet_nolabel['query'].value_counts()

#jnj                  22598
ethicon                 678
#bwi                    406
"ETHICON"               391
biosense webster         61
"BIOSENSE WEBSTER"       29
Name: query, dtype: int64

In [12]:
import emoji
def deEmoji(text):
    return emoji.get_emoji_regexp().sub(r'', text)

In [13]:
# Preprocess
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import TweetTokenizer

def text_preprocess(text):
    text = re.sub(r'#', '', text) #Replace the # symbol with '' in every tweet
    text = re.sub(r'https?:\/\/.*[\r\n]*', '', text) #Replace hyperlinks with '' in every tweet
    text = re.sub(r'[^\w\d\s]+', '', text) #Remove all punctuations
    text = deEmoji(text) #Remove emoji
    text = re.sub(r'\n', '', text) #Remove \n
    
    #Remove all stopwords
    stopwords_eng = stopwords.words('english')
    pattern = re.compile(r'\b(' + r'|'.join(stopwords_eng) + r')\b\s*')
    text = pattern.sub('', text)
    
    #Apply stem
    ps = PorterStemmer()
    tk = TweetTokenizer(preserve_case=False, strip_handles = True)
    tweet_tokens = tk.tokenize(text)
    tweet_finish = ''
    for token in tweet_tokens:
        stem = ps.stem(token)
        tweet_finish += (stem + ' ')
    return tweet_finish

In [14]:
length = len(tweet_nolabel.text)
for i in range(length):
    tweet_nolabel.text.iloc[i] = text_preprocess(tweet_nolabel.text.iloc[i])

In [15]:
tweet_nolabel

                                                    text    query
0      timcast joerogan isnt goal beat viru let say a...     #jnj
1      ema_new frustrat ema_new jnj ship vaccin made ...     #jnj
2      alexandrosandr yorkteachingnh ethicon abby_lan...  ethicon
3      jack jennif roll today i love sinc i first lai...     #jnj
4      xotonironixo they alway jnj alway hold special...     #jnj
...                                                  ...      ...
24158  futur jnj sale rep make meshinjur mafiamedicin...     #jnj
24159  pray justic would trust covid vacin made jnjta...     #jnj
24160  some corpor guilti hatr prison blm jnj also ex...     #jnj
24161  she die win trial jnjblm blacklivesmatt meshin...     #jnj
24162  iron compani dirti ethic would partner run dir...     #jnj

[24163 rows x 2 columns]

In [34]:
tweet_nolabel = pd.read_csv('tweet_no_label_afterpreprocess.csv')
tweet_original = pd.read_csv('tweets-no-labels.csv')
tweet_nolabel.columns

Index(['Unnamed: 0', 'text', 'query'], dtype='object')

In [35]:
tweet_nolabel.rename(columns = {'text': 'text_preprocess'},inplace = True)
tweet_nolabel.drop(columns = 'Unnamed: 0', inplace = True)
tweet_nolabel.head()

                                     text_preprocess    query
0  timcast joerogan isnt goal beat viru let say a...     #jnj
1  ema_new frustrat ema_new jnj ship vaccin made ...     #jnj
2  alexandrosandr yorkteachingnh ethicon abby_lan...  ethicon
3  jack jennif roll today i love sinc i first lai...     #jnj
4  xotonironixo they alway jnj alway hold special...     #jnj

In [ ]:
#tweet_nolabel.to_csv('tweet_no_label_afterpreprocess.csv')